@use "../../../stylesheets/mixin" as *;
@use "../../../stylesheets/variable" as *;

.signup {
  @include flex-between;
  column-gap: 20px;
  flex-wrap: wrap;
  margin: 15px 0;

  h3 {
    font-size: $fsize-5;
    flex: 1;
    color: $color-grey-4;
    min-width: 350px;
  }

  div {
    @include flex;
    flex: 1;
    width: auto;
    input {
      flex: auto;
      height: 48px;
      padding: 5px 15px;
      border: none;
      outline: none;
      background-color: $color-white-1;
      border-radius: 12px 0 0 12px;
    }

    button {
      background-color: $color-blue-1;
      color: $color-white-1;
      border: none;
      padding: 16px 20px;
      border-radius: 0 12px 12px 0;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      min-width: 76px;

      &:hover {
        transform: scale(1.02);
        border: none;
        outline: none;
      }
    }

    &:focus-within {
      outline: thin solid $color-blue-1;
    }
  }
}
