@use "./variable" as *;

@mixin border-box {
  box-sizing: border-box;
}

@mixin flex {
  display: flex;
  align-items: center;
}

@mixin flex-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-start-column {
  display: flex;
  flex-direction: column;
  align-items: start;
}

@mixin flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flex-between-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-around-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@mixin btn {
  width: 100%;
  background-color: $color-blue-1;
  color: $color-white-1;
  border: none;
  padding: 15px 80px;
  border-radius: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}
